*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#f8fafc;
    color:#1e293b;
}

header{
    position:fixed;
    width:100%;
    top:0;
    background:white;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    z-index:100;
}

.logo{
    font-size:1.5rem;
    font-weight:700;
    color:#2563eb;
}

nav a{
    margin-left:20px;
    text-decoration:none;
    color:#333;
    font-weight:500;
}

nav a:hover{
    color:#2563eb;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(
        135deg,
        #2563eb,
        #1e40af
    );
    color:white;
}

.hero img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid white;
    margin-bottom:20px;
}

.hero h1{
    font-size:3rem;
}

.hero h2{
    margin:15px 0;
}

.hero p{
    max-width:600px;
    margin:auto;
}

.btn{
    display:inline-block;
    margin-top:25px;
    padding:12px 30px;
    background:white;
    color:#2563eb;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:100px 10%;
}

section h2{
    text-align:center;
    margin-bottom:40px;
}

.skill-container,
.project-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));
    gap:25px;
}

.card,
.project-card,
.edu-card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
    text-align:center;
}

.card:hover,
.project-card:hover{
    transform:translateY(-8px);
}

.card i{
    font-size:40px;
    color:#2563eb;
    margin-bottom:15px;
}

.social-links{
    display:flex;
    justify-content:center;
    gap:30px;
}

.social-links a{
    font-size:35px;
    color:#2563eb;
    transition:.3s;
}

.social-links a:hover{
    transform:scale(1.2);
}

footer{
    text-align:center;
    background:#1e293b;
    color:white;
    padding:20px;
}
